body{
    background-color: #78BA59;
}
.MainTitle{
position: absolute;
width: 497px;
height: 136px;
left: 472px;
top: 82px;
font-family: Open;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 136px;
color: #000000;
}